.botao { 
    background-color: #36332D;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    margin: 32px 0;
    color: #f3ede7;
}

.botao:hover { 
    color: #b3b3b3
}